<nav class="navbar navbar-light bg-dark justify-content-center">
  <h1>GitHub Search</h1>
  <div class="container-fluid justify-content-center">
    <!-- <h2>{{username}}</h2> -->
    <form class="d-flex" (ngSubmit)="submitForm(username)">
      <input
        class="form-control me-3"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="username"
        
        [(ngModel)]="username"
       
        
      />
      <button class="btn btn-outline-info" type="submit">Search</button>
    </form>
  </div>
</nav>
