<div class="container my-5">
    <div class="row">
      <div class="col-lg-6">
          <img src="{{user.avatar_url}}" alt="">
        
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
            <button> <span>{{user.public_repos}}</span></button>
            <h1 class="display-3 text-info">{{user.login}}</h1>
            <p class="lead">public repos: <span style="color:rgb(10, 122, 160)">{{user.public_repos}}</span><br>followers: <span>{{user.followers}}</span><br>following: <span>{{user.following}}</span><br>location<br>member since<br>website</p>
            <a href="#" class="btn btn-outline-dark">Read More</a>
        </div>
    </div>
</div>


