<app-github-form (newUsername)="getOutput($event)"></app-github-form>
<div class="container my-5">
  <div class="row" *ngIf="user">
    <div class="col-lg-6">
      <img style="margin-left: 30%; border-radius: 50%; object-fit:cover; height: auto; width: 50%;" src="{{ user.avatar_url }}" alt="" />
    </div>
    <div class="col-lg-6">
      <div class="p-5 mt-4">
        <h1 class="display-5 text-info">{{ user.login }}</h1>
        <p class="lead text-info">
          public repos:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.public_repos
          }}</span
          ><br />followers:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.followers
          }}</span>
          <br />following:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.following
          }}</span
          ><br />location
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.location
          }}</span
          ><br />member since:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.created_at | date
          }}</span
          ><br />website:
          <a style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.blog
          }}</a>
        </p>
        <!-- <a href="#" class="btn btn-outline-dark">Read More</a> -->
      </div>
    </div>
  </div>
</div>
<h1 class="heading text-info text-center mb-5">Repositories</h1>
<div class="container" *ngFor="let repo of repo">
  <ul>
  <li>
    <a href="{{ repo.html_url }}" appRepohighlight>
      <h2>{{repo.name}}</h2>
      <p>{{repo.description}}</p>

    </a>
  </li>
  
</ul>
</div>

<!-- <div class="container bootstrap snippets bootdeys " *ngFor="let repo of repo">
  <div>
  <div class="row" style="float: left;">
    <div class="col-md-10 content-card " style="display:inline;">
      <div class="card-big-shadow" >
        <div
          class="card card-just-text"
          data-background="color"
          data-color="blue"
          data-radius="none"
        >
          <div class="content">
            <h6 class="category"></h6>
            <h4 class="title">
              <a href="{{ repo.html_url }}" appRepohighlight>{{ repo.name }}</a>
            </h4>
            <p class="description">{{ repo.description }}</p>
            <p class="description">created: {{ repo.created_at | dateAgo }}</p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="card" *ngFor="let repo of repo">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ repo.html_url }}">{{ repo.name }}</a>
      </h5>
      <p class="card-text">{{ repo.description }}</p>
      <p class="card-text">created  : {{ repo.created_at | dateAgo }}</p>
      
      <a class="card-link">Another link</a>
    </div>
   </div> -->
  <!-- </div>
  
  </div>
</div> -->
