<app-github-form (newUsername)="getOutput($event)"></app-github-form>
<div class="container my-5">
  <div class="row"*ngIf="user">
    <div class="col-lg-6">
      <img src="{{ user.avatar_url }}" alt="" />
    </div>
    <div class="col-lg-6">
      <div class="p-5 mt-4">
        <h1 class="display-5 text-info">{{ user.login }}</h1>
        <p class="lead">
          public repos:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.public_repos
          }}</span
          ><br />followers:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.followers
          }}</span>
          <br />following:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.following
          }}</span
          ><br />location
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.location
          }}</span
          ><br />member since:
          <span style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.created_at
          }}</span
          ><br />website:
          <a style="color: rgb(10, 122, 160); font-weight: 900">{{
            user.blog
          }}</a>
        </p>
        <a href="#" class="btn btn-outline-dark">Read More</a>
      </div>
    </div>
  </div>

  <h1>Repositories</h1>

  <div class="card" *ngFor="let repo of repo">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{{ repo.html_url }}">{{ repo.name }}</a>
      </h5>
      <p class="card-text">{{ repo.description }}</p>
      <p class="card-text">created on : {{ repo.created_at | date }}</p>
      <!-- <a class="card-link">Card link</a> -->
      <a class="card-link">Another link</a>
    </div>
  </div>
</div>
